#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(34, 110, 34, 0.549);
    text-align: center;
    margin: auto;
    position: relative;
    animation: poping 1s backwards;
    
 }
body {
    border-color: brown;
    margin: auto;
    text-align: center;


}
#menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

.addCircle {
	box-shadow:inset 0px 1px 0px 0px #3d5925;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:18px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.addCircle:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.addCircle:active {
	position:relative;
	top:1px;
}
.addCircle {
	box-shadow:inset 0px 1px 0px 0px #3d5925;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:18px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.addCircle:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.addCircle:active {
	position:relative;
	top:1px;
}
.removeCircle {
	box-shadow:inset 0px 1px 0px 0px #700e2a;
	background:linear-gradient(to bottom, #e08dbf 5%, #a60a0a 100%);
	background-color:#e08dbf;
	border-radius:6px;
	border:1px solid #bd2626;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:18px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8c4033;
}
.removeCircle:hover {
	background:linear-gradient(to bottom, #a60a0a 5%, #e08dbf 100%);
	background-color:#a60a0a;
}
.removeCircle:active {
	position:relative;
	top:1px;
}

@keyframes poping{
    0% {transform: scale(0);}
    25%  {transform: scale(0);}
    75%  {transform: scale(1);}
        
}


        